<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ if getenv " CONTEXT " }}{{ cond (eq "production " (getenv "CONTEXT ")) (getenv "URL ") (getenv "DEPLOY_PRIME_URL ") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/brands.js" integrity="sha384-6jhVhr5a+Z1nLr9h+fd7ocMEo847wnGFelCHddaOOACUeZNoQwFXTxh4ysXVam8u" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/fontawesome.js" integrity="sha384-M2FSA4xMm1G9m4CNXM49UcDHeWcDZNucAlz1WVHxohug0Uw1K+IpUhp/Wjg0y6qG" crossorigin="anonymous"></script>
  <title>{{ $.Site.Title }}</title>
  <link rel="stylesheet" href="css/main.css" />
</head>

<body>
