<section class="page-section">
  <nav class="header-nav">
    <a href="/">
        <img src="/img/logo.svg" alt="Stryke Force Logo" class="logo">
      </a>

    <ul class="header-menu">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <li class="item">
        <a class="link{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} -active{{end}}" href="{{ .URL }}" title="{{ .Name }}">{{ .Name }}</a>
      </li>
      {{ end }}
      <li class="item">{{ partial "donate" }}</li>
    </ul>
  </nav>
</section>
