.blog {
  margin-left: 1rem;
  margin-right: 1rem;
  @media (min-width: 768px) {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

.blog__post {
  display: flex;
  flex-direction: column;
}

.blog_summary {
  padding-bottom: 0em;
}

.blog__summary a, .blog__body a {
  color: var(--link-text);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.blog__body img {
  width: 100%;
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blog__read-more {
  background-color: var(--readmore);
  color: var(--black) !important;
  padding: 4px 5px;
  border-radius: 4px;
  text-shadow: 1px 1px white;
  text-decoration: none;
  &:hover {
    background-color: var(--readmore-hover);
  }
}

.blog>.instagram-media {
  margin-left: 1rem;
}

.blog__footer {
  padding-top: 0.5rem;
}
