.blog {
  margin-left: 1rem;
  margin-right: 1rem;
  @media (min-width: 768px) {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

.blog__post a {
  /* normalize */
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  /* styles */
  color: var(--link-text);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
