.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background-color: var(--strykeforce);
}

.header__menu {
  grid-column: 3 / 4;
  align-self: center;
  justify-self: end;
  display: inline-block;
}

.nav-menu {
  padding: 0;
  margin: 0;
}

.nav-menu__item {
  list-style: none;
  display: inline;
  padding: 1em;
}

.nav-menu__link {
  text-decoration: none;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 120%;
  color: black;
}
