.header {
  display: flex;
  align-items: center;
  background-color: var(--strykeforce);
}

.header__menu {
  width: 100%
}

.nav-menu {
  display: flex;
  float: right;
}

.nav-menu__item {
  list-style: none;
  padding: 1rem 1rem 0;
}

.nav-menu__link {
  /* normalize */
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  /* styles */
  text-decoration: none;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 120%;
  color: black;
}
