body
  padding: 0
  margin: 0
  position: relative
  font-size: 1rem

.main
  background: white

.container
  box-sizing: border-box
  position: relative
  max-width: 75rem
  padding: 0 var(--spacing-small)
  margin: 0 auto

  @media (--tablet-portrait-up)
    padding: 0 var(--spacing-medium)

  @media (--tablet-landscape-up)
    padding: 0 var(--spacing-large)

  > p
    max-width: 40em
    margin: auto

  &::after,
  &::before
    content: ""
    display: table
    clear: both
