.logo {
  display: block;
  padding: 1rem 1rem 0.25rem;
}

.logo__img {
  /* normalize */
  border-style: none;
  /* styles */
  width: 10rem;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*=".svg"] {
    width: 55%;
  }
}
