/*
 * See: Making Embedded Content Work In A Responsive iFrame at
 * https://www.smashingmagazine.com/2014/02/making-embedded-content-work-in-responsive-design/
 */
.smugmug {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.smugmug iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
