.social {
  display: flex;
  height: 5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social__item {
  list-style: none;
  width: 4rem;
}

.social__link {
  text-decoration: none;
}

.social__icon {
  width: 2.5rem;
}
