.social {
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.social__item {
  list-style: none;
  /* width: 4rem; */
}

.social__link {
  text-decoration: none;
}

.social__icon {
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
