// Colors
$strykeforce_blue: #1b75bb
$strykeforce_yellow: rgb(241, 186, 27)
$black: #333

$banner_color: $strykeforce_yellow
$link_color: $strykeforce_blue

$button_color: $strykeforce_yellow
$button_background: white

$hr_gradient: $strykeforce_yellow

// Sizing
$font_size: 1rem

// Spacing
$tiny_space: 0.309em
$extra_small_space: 0.618em
$small_space: 1em
$medium_space: 1.618em
$large_space: 2em
$container_width: 75rem
$content_width: 40em
$blog_image: 600px
