body, html {
  height: 100%;
  margin: 0;
}

.l-header {
  display: flex;
  align-items:center;

  background-color: var(--strykeforce);
}

.logo {
  display: block;
  padding: var(--spacing-medium) var(--spacing-medium) var(--spacing-extra-small);
}

.logo-img {
  width: 10rem;
}

.menu {
  width: 100%
}

.menu-list {
  display: flex;
  float: right;

  & > li {
    list-style: none;
    padding: var(--spacing-medium) var(--spacing-medium) 0;
  }
  & > li > a {
    font-weight: bold;
    font-variant: small-caps;
    font-size: 120%;
    color: black;
    &:hover {
      text-decoration: none;
    }
  }
}
