{% load wagtailimages_tags %}

{% for author in authors %}
  {% with member=author.member %}
    <div class="mt-6 flex items-center">
      <div class="shrink-0">
        <span>
          <span class="sr-only">{{ member.student_name }}</span>
          {% image member.image fill-72x72-c50 class="blog-author-image" alt="picture of blog author" %}
        </span>
      </div>
      <div class="ml-3">
        <p class="text-sm font-medium text-gray-900">
          {{ member.student_name }}
        </p>

      </div>
    </div>
  {% endwith %}
{% endfor %}
