.image-gallery
  > .header
    text-align: center

  > .list
    display: flex
    width: 100%
    flex-flow: row wrap
    justify-content: space-around
    align-items: center
    padding: 0
    margin: 0

.image-gallery-item
  display: block
  list-style: none
  padding: 1em

  > .logo
    max-width: 100%
    height: auto
