.page-section
  box-sizing: border-box
  position: relative
  max-width: var(--page-section-width)
  padding: 0 var(--small-space)
  margin: 0 auto

  &.-center
    text-align: center

  @media (--tablet-portrait-up)
    padding: 0 var(--medium-space)

  @media (--tablet-landscape-up)
    padding: 0 var(--large-space)

  &::after,
  &::before
    content: ""
    display: table
    clear: both
