.team-card
  background: white
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
  width: 16em
  height: 24em

  > .headshot
    width: 100%

  > .description
    padding: 0 1em

  > .description > .head
    margin:
      top: 0.25em
      bottom: 0.25em

  > .description > .school
    color: gray
    margin: 0
