{{ define "main" }}

<section class="page-section">
  <header>
    <h2>{{ .Title }}</h2>
  </header>

<div class="contact-form-list">

  <div class="contact-form">
    <h1 class="header">Contact Us</h1>
    <form name="Contact Us" method="POST" action="{{ relref . "success.md" }}" netlify>
      <input type="text" name="name" placeholder="Your Name" />
      <input type="email" name="email" placeholder="Email Address" />
      <textarea name="message" placeholder="Type your Message" rows=5></textarea>
      <input type="submit" value="Send" />
    </form>
  </div>

  <div class="contact-form">
    <h1 class="header -yellow">New Members</h1>
    <form name="New Members" method="POST" action="{{ relref . "success.md" }}" netlify>
      <input type="text" name="name" placeholder="Student Name" />
      <input type="email" name="email" placeholder="Student Email Address" />
      <input type="text" name="name" placeholder="Parent/Guardian Name" />
      <input type="email" name="email" placeholder="Parent/Guardian Email Address" />
      <input type="text" name="grade" placeholder="Grade for Fall 2018"></input>
      <input type="text" name="school" placeholder="School"></input>
      <input type="text" name="referral" placeholder="How did you hear about us?"></input>
      <textarea name="message" placeholder="Optional Message"></textarea>
      <input class="-yellow" type="submit" value="Send" />
    </form>
  </div>

</div>

</section>

{{ end }}
