{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block nav_classes %}border-b-2 border-gray-100{% endblock %}

{% block content %}
  <div class="relative overflow-hidden bg-white py-16">
    {% include 'home/_grid_watermark.html' %}
    <div class="relative px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-prose text-lg">
        <h1>
          <span class="block text-center text-lg font-semibold text-blue">Blog</span>
          <span
              class="mt-2 block text-center text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">{{ page.title }}</span>
        </h1>
        <div class="mt-4 text-sm font-medium text-gray-500">{{ page.date }}</div>

        <p class="mt-4 text-xl leading-8 text-gray-500">{{ page.introduction }}</p>

        {# Authors #}
        <div class="flex mt-4 space-x-4">
          {% for author in page.authors.all %}
            {% with author.member as member %}
              <a href="#" class="group block flex-shrink-0">
                <div class="flex items-center">
                  <div>
                    {% image member.image fill-72x72 class="inline-block h-10 w-10 rounded-full" alt="" %}
                  </div>
                  <div class="ml-3">
                    <p class="text-sm font-medium text-gray-700 group-hover:text-gray-900">{{ member.student_name }}</p>
                    {# <p class="text-xs font-medium text-gray-500 group-hover:text-gray-700">View profile</p>#}
                  </div>
                </div>
              </a>
            {% endwith %}
          {% endfor %}
        </div>

      </div>
      <div
          class="prose prose-lg prose-gray mx-auto mt-6 text-gray-600 prose-a:text-blue-600 hover:prose-a:text-blue-500 prose-img:rounded-xl">
        {% with page.image as main_image %}
          {% if main_image %}{% image main_image fill-1200x630 %}{% endif %}
        {% endwith %}
        {{ page.body|richtext }}
      </div>
    </div>
  </div>
{% endblock content %}
