{% extends "base.html" %}
{% load blog_tags static wagtailcore_tags wagtailimages_tags %}

{% block nav_classes %}border-b-2 border-gray-100{% endblock %}

{% block metadata %}
  {% with page_introduction=page.introduction main_image=page.image %}
    {% if main_image %}
      {% image main_image fill-1200x630 as link_image %}
      <meta property="og:image" content="{{ link_image.full_url }}">
      <meta name="twitter:image" content="{{ link_image.full_url }}">

      <script type="application/ld+json">
{ "@context": "https://schema.org",
 "@type": "BlogPosting",
 "headline": "{{ page.title }}",
 "image": "{{ link_image.full_url }}",
  "url": "{{ page.full_url }}",
 "datePublished": "{{ page.date|date:"c" }}",
 "description": "{{ page_introduction }}"
 }
</script>

    {% else %}
      <meta property="og:image" content="https://www.strykeforce.org{% static '2767/img/meta-logo.png' %}">
    {% endif %}
    <meta property="og:description" content="{{ page_introduction }}">
    <meta name="description" content="{{ page_introduction }}"/>
    <meta property="og:type" content="article"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page_introduction }}">

  {% endwith %}
{% endblock metadata %}

{% block content %}
  <div class="relative overflow-hidden py-16">
    {% include 'home/_grid_watermark.html' %}
    <div class="relative px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-prose text-lg">
        <h1>
          <span
              class="mt-2 block text-center text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">{{ page.title }}</span>
        </h1>
        <div class="mt-4 text-sm font-medium text-gray-500">{{ page.date }}</div>

        <p class="mt-4 text-xl leading-8 text-gray-500">{{ page.introduction }}</p>

        {# Authors #}
        <div class="flex mt-4 space-x-4">
          {% blog_authors page %}
        </div>

      </div>
      <div
          class="prose prose-lg prose-gray mx-auto mt-6 text-gray-600 prose-a:text-blue-600 prose-a:hover:text-blue-500 prose-img:rounded-xl">
        {% with main_image=page.image %}
          {% if main_image %}{% image main_image fill-1200x630 %}{% endif %}
        {% endwith %}
        {{ page.body|richtext }}
      </div>
    </div>
  </div>
{% endblock content %}
