<li>
    <a class="col-span-1 flex rounded-md shadow-xs"
        href="/events/key/{{ event.key }}/">
    <div class="flex flex-col shrink-0 items-center justify-center w-16 bg-yellow text-black text-md font-medium rounded-l-md">
        <div>{{ event.start_date|date:"M"|upper }}</div>
        <div>{{ event.start_date|date:"j" }}</div>
    </div>
    <div class="flex flex-1 items-center justify-between truncate rounded-r-md border-t border-r border-b border-gray-200 bg-white">
        <div class="flex-1 truncate px-4 py-2 text-sm">
        <p class="font-medium truncate text-gray-900 hover:text-gray-600">{{ event.short_name }} {{ event.event_type_string }}</p>
        <p class="text-gray-500">{{ event.city }}, {{ event.state_prov }}</p>
        </div>
    </div>
    </a>
</li>
