{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block nav_classes %}border-b-2 border-gray-100{% endblock %}

{% block content %}
  <div class="px-4 md:px-6 lg:px-8 grid grid-cols-1 sm:grid-cols-5 grid-rows-2 gap-4">
    <div class="pt-4 lg:pt-6 sm:col-span-4">
      <span class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ title }}</span>
      <div class="mt-3 sm:mt-4 max-w-prose">
        <p class="text-xl text-gray-500">
          {% if is_active_season %}
            {{ page.body }}
          {% else %}
            Check out the highlights from our past season’s events!
          {% endif %}
        </p>
      </div>
      {% if won_events %}
        <div class="pt-4 flex flex-row flex-wrap justify-evenly">
        {% for event in won_events %}
            {% include 'events/_banner.html' with event=event %}
        {% endfor %}
        </div>
      {% endif %}
      <ul>
        <ul role="list"
            class="mt-4 grid grid-cols-1 gap-5 sm:grid-cols-2 sm:gap-6 lg:grid-cols-3">
          {% for event in events %}
            {% include 'events/_event.html' with event=event %}
          {% endfor %}
        </ul>
      </div>

      <div class="order-last sm:order-none mx-auto sm:ml-auto sm:col-span-1 sm:row-span-2">
        {% include 'events/_years.html' %}
      </div>

    {% endblock content %}
