{{ partial "header" . }}

<header class="hero-image">
  <div class="hero-text">
    <h1>Stryke Force</h1>A FIRST Robotics Team</div>
</header>

<article>
  <header>
    <h2>2018 Detroit World Champions</h2></header>
  <p>Congratulations FRC Team 2767 Stryke Force, Kalamazoo, Michigan.; Team 27 Team RUSH, Clarkston, Michigan, Team 2708 Lake Effects Robotics, Kingston, Ontario, Canada and Team 4027, Centre County 4-H Robotics, State College, Pennsylvania for winning the
    2018 Detroit World Championship!</p>
</article>

<article>
  <header>
    <h2>2018 Community Open Houses</h2></header>
  <p>2018 World Champions Team 2767 Stryke Force invite you to their 2018 Community Open Houses from 6-8pm at their build space located in Midlink Business Park on:</p>
  <ul>
    <li>Tuesday, May 8th</li>
    <li>Thursday, May 10th</li>
    <li>Monday, May 14th</li>
    <li>Wednesday, May 16th</li>
</article>

<section class="social">
  <a href="https://facebook.com/2767strykeforce" title="Facebook"><i class="fab fa-facebook-f fa-3x" style="color:black;"></i></a>
  <a href="https://twitter.com/2767StrykeForce" title="Twitter"><i class="fab fa-twitter fa-3x" style="color:black;"></i></a>
  <a href="https://instagram.com/2767strykeforce" title="Instagram"><i class="fab fa-instagram fa-3x" style="color:black;"></i></a>
</section>
{{ partial "footer" . }}
