{{ define "main" }}

<header class="hero-image">
  <div class="hero-text">
    <h1>Stryke Force</h1>A FIRST Robotics Team</div>
</header>

<div class="foo">
  {{ range .Data.Pages }}
  <article>
    <header>
      <h2>{{ .Title }}</h2>
    </header>
    {{ .Content }}
  </article>
  {{end}}
</div>

<div class="social">
  <a href="https://facebook.com/{{ .Site.Params.FacebookID }}"><i class="fab fa-facebook-f fa-2x"  title="Facebook" style="color:black;padding-right: 2rem;"></i></a>
  <a href="https://twitter.com/{{ .Site.Params.TwitterID }}"><i class="fab fa-twitter fa-2x"  title="Twitter" style="color:black;padding-right: 2rem;"></i></a>
  <a href="https://instagram.com/{{ .Site.Params.InstagramID }}"><i class="fab fa-instagram fa-2x"  title="Instagram" style="color:black;padding-right: 2rem;"></i></a>
  <a href="https://github.com/{{ .Site.Params.GithubID }}"><i class="fab fa-github fa-2x"  title="GitHub" style="color:black;"></i></a>
</div>
{{end}}
