{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags blog_tags %}

{% block metadata %}
  {# TODO: make this a custom tag, use her and in blog page #}
  <meta property="og:image" content="https://www.strykeforce.org{% static 'img/meta-logo.png' %}">
  <meta property="og:description"
        content="Stryke Force 4-H FIRST Robotics Team 2767 is a community robotics team based in Kalamazoo, Michigan.">
  <meta name="description"
        content="Stryke Force 4-H FIRST Robotics Team 2767 is a community robotics team based in Kalamazoo, Michigan."/>
  <meta property="og:type" content="website"/>
  <script type="application/ld+json">{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "Stryke Force 2767",
  "url": "https://www.strykeforce.org/",
  "image": "https://www.strykeforce.org{% static 'img/meta-logo.png' %}"
}</script>
{% endblock metadata %}

{% block content %}
  <div>
  {# Hero card #}
  <div class="relative">
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="relative shadow-xl sm:overflow-hidden sm:rounded-2xl">
        <div class="absolute inset-0">
          {% image page.hero_image original class="h-full w-full object-cover" %}
          <div class="absolute inset-0 bg-blue mix-blend-multiply"></div>
        </div>
        <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
          <h1 class="text-center text-4xl font-bold tracking-tight sm:text-5xl lg:text-6xl">
            <span class="text-white">Stryke Force</span>
            <span class="text-yellow">2767</span>
          </h1>
          <div class="mx-auto mt-6 max-w-lg text-center text-xl text-gray-300 sm:max-w-3xl">
            {{ page.body|richtext }}
          </div>
          <div class="mx-auto mt-10 max-w-sm sm:flex sm:max-w-none sm:justify-center">
            <div class="space-y-4 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5 sm:space-y-0">
              <a
                  href="{% slugurl 'join-stryke-force' %}"
                  class="flex items-center justify-center rounded-md border border-transparent bg-white px-4 py-3 text-base font-medium text-blue shadow-sm hover:bg-gray-50 sm:px-8"
              >Join the team</a
              >
              <a
                  href="https://www.paypal.com/donate/?hosted_button_id=U7Q873GF4XMFC"
                  class="flex items-center justify-center rounded-md border border-transparent bg-blue-400 bg-opacity-70 px-4 py-3 text-base font-medium text-white shadow-sm hover:bg-opacity-80 sm:px-8"
              >Support the team</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Content #}
  <div class="relative">
    <div
        class="mx-auto flex flex-col items-center sm:flex-row sm:items-start sm:space-x-10 sm:px-6 sm:pt-12 lg:max-w-7xl lg:px-8"
    >
      {# Sidebar #}
      <div class="mt-10 w-80 flex-none grow-0 sm:mt-0">

        <div class="px-4 sm:px-0">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900">Upcoming Events</h2>
          <p class="mt-2 text-base text-gray-500 sm:mt-4">{{ event_index.body }}</p>
        </div>

        <ul role="list" class="mt-4 grid grid-cols-1 gap-5 sm:gap-6">
          {% for event in event_index.future_events %}
            <li class="col-span-1 flex rounded-md shadow-sm">
              <div
                  class="flex w-16 flex-col items-center justify-center rounded-l-md bg-yellow font-medium text-black"
              >
                <div>{{ event.start_date|date:"M"|upper }}</div>
                <div>{{ event.start_date|date:"j" }}</div>
              </div>
              <div
                  class="flex flex-1 items-center justify-between truncate rounded-r-md border-t border-r border-b border-gray-200 bg-white"
              >
                <div class="flex-1 truncate px-4 py-2 text-sm">
                  <a href="/events/key/{{ event.key }}/" class="truncate font-medium text-blue hover:text-gray-700"
                  >{{ event.name }}
                  </a>
                  <p class="text-gray-500">{{ event.city }}, {{ event.state_prov }}</p>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
        <div class="mt-4 px-4 sm:px-0">
          <a
              href="{% slugurl 'events' %}"
              class="text-base font-semibold text-blue hover:text-gray-700"
          >
            All events <span aria-hidden="true">→</span>
          </a>
        </div>

        <div class="mt-6 sm:mt-10 px-4 sm:px-0">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900">Featured</h2>
          {% if page.featured_page_1 %}
            <div class="mt-4 px-4 sm:px-0">
              <a href="{% pageurl page.featured_page_1 %}"
                 class="text-base font-semibold text-blue hover:text-gray-700">{{ page.featured_page_1.title }}</a>
              <p class="text-base text-gray-500">{{ page.featured_page_1.specific.introduction|truncatewords:12 }}</p>
            </div>
          {% endif %}
          {% if page.featured_page_2 %}
            <div class="mt-4 px-4 sm:px-0">
              <a href="{% pageurl page.featured_page_2 %}"
                 class="text-base font-semibold text-blue hover:text-gray-700">{{ page.featured_page_2.title }}</a>
              <p class="text-base text-gray-500">{{ page.featured_page_2.specific.introduction|truncatewords:12 }}</p>
            </div>
          {% endif %}
          {% if page.featured_page_3 %}
            <div class="mt-4 px-4 sm:px-0">
              <a href="{% pageurl page.featured_page_3 %}"
                 class="text-base font-semibold text-blue hover:text-gray-700">{{ page.featured_page_3.title }}</a>
              <p class="text-base text-gray-500">{{ page.featured_page_3.specific.introduction|truncatewords:12 }}</p>
            </div>
          {% endif %}
        </div>
      </div>

      {# Blog #}
      <div class="mt-10 flex-1 sm:mt-0">
        <div class="px-4 sm:px-0">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900">{{ blog_title }}</h2>
          <p class="mt-2 text-base text-gray-500 sm:mt-4">{{ blog_intro }}</p>
          <div class="mt-1">
            <a
                href="{% slugurl 'blog' %}"
                class="text-base font-semibold text-blue hover:text-gray-700"
            >
              Browse all news <span aria-hidden="true">→</span>
            </a>
          </div>
        </div>
        <div class="mx-auto mt-6 grid max-w-lg gap-5 lg:max-w-none lg:grid-cols-2">
          {% for post in blog_posts %}
            <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
              <a href="{% pageurl post %}" class="block">
              <div class="flex-shrink-0">
                {% image post.image fill-512x192 as image_1x %}
                {% image post.image fill-1024x384 as image_2x %}
                <img
                    class="h-48 w-full object-cover"
                    src="{{ image_1x.url }}" alt=""
                    srcset="{{ image_1x.url }}, {{ image_2x.url }} 2x"
                >
              </div>
              <div class="flex flex-1 flex-col justify-between bg-white p-6">
                <div class="flex-1">
                    <h3 class="text-xl font-semibold text-gray-900">{{ post.title }}</h3>
                    <div class="text-sm text-gray-500">
                      <time datetime="2020-03-16">{{ post.date }}</time>
                    </div>

                    <p class="mt-3 text-base text-gray-500">{{ post.introduction }}</p>
                </div>

                {# Authors #}
                <div class="mt-2 flex space-x-4">{% blog_authors post %}</div>
              </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    {# Sponsors #}

    <div class="mx-auto max-w-7xl py-12 px-6 lg:px-8">
      <div class="max-w-prose px-4 sm:px-0">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900">Sponsors</h2>
        <p class="mt-2 text-base text-gray-500 sm:mt-4">{{ sponsors_index.body }}</p>
      </div>

      <div class="mt-6 grid grid-cols-2 gap-8 md:grid-cols-3 lg:grid-cols-4">
        {% for sponsor in sponsors_index.platinum_sponsors %}
          <div class="col-span-1 flex justify-center lg:col-span-1">
            {% image sponsor.logo max-160x90 class="grayscale contrast-[0.25] w-[160] h-[90] m-auto" alt="{{ sponsor.name }}" %}
          </div>
        {% endfor %}
      </div>
      <div class="mt-4">
        <a
            href="{% slugurl 'sponsors' %}"
            class="text-base font-semibold text-blue hover:text-gray-700"
        >
          All sponsors <span aria-hidden="true">→</span>
        </a>
      </div>
    </div>


  </div>

{% endblock %}
</div>
