{{ define "main" }}
<section class="page-section">
<h1>{{ .Title }}</h1>
<div>
  {{ .Content }}
</div>

{{ $resources := .Resources }}

<div class="image-gallery">
  {{ range .Params.levels }}
  {{ $resample := .resample }}
    <h1 class="header">{{ .name }}</h1>
    <ul class="list">
      {{ range .sponsors }}
      <li class="image-gallery-item">
        <a href="{{ .url }}" target="_blank">
          <img class="logo" src="{{ (($resources.GetMatch .logo).Fit $resample ).RelPermalink }}" alt="{{ .name }}">
        </a>
      </li>
      {{ end }}
    </ul>
  {{ end }}
</div>

</section>
{{ end }}
