{{ define "main" }}
<section class="container">

<div>
  {{ .Content }}
</div>

{{ $resources := .Resources }}

{{ range .Params.levels }}
{{ $resample := .resample }}
  <h1 class="gallery__header">{{ .name }}</h1>
  <ul class="gallery__list">
    {{ range .sponsors }}
    <li class="gallery__item">
      <a href="{{ .url }}">
        <img class="gallery__logo" src="{{ (($resources.GetMatch .logo).Fit $resample ).RelPermalink }}" alt="{{ .name }}">
      </a>
    </li>
    {{ end }}
  </ul>
{{ end }}

</section>
{{ end }}
